body {
    font-family: "Segoe UI", "Microsoft Yahei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 80px;
}
.sampledata {
    font-family: Monospace;
    white-space: pre;

}
.dmmessage {
    word-wrap: break-word;
    word-break: normal;
}
.monotext {
    font-family: Monospace;
}
.row-margin {
    height: 10px;
    display: block;
    clear: both;
}
.prob_desc {}
#editor {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

#editor-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 590px;
}
.target {
    position: relative;
}
.langselect {

}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.navpinned {
    top: 0px;
}
.navunpinned {
    top: -50px;
}
